body {
  background: var(--very-light-gray);
}

:root {
  /* ## Colors */

  /* ### Primary */

  --bright--orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* ### Neutral */

  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

h1 {
  color: var(--very-light-gray);
}

/* MAIN */

.container {
  display: flex;
  height: 80vh;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.car-box {
  width: 230px;
  padding: 45px;
  display: flex;
  flex-direction: column;
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
}

.car-box__tittle {
  font-size: 2.4em;
}

.car-box:nth-child(1) {
  background: var(--bright--orange);
  border-radius: 8px 0 0 8px;
}

.car-box:nth-child(1) .car-box__btn {
  color: var(--bright--orange);
}

.car-box:nth-child(1) .car-box__btn:hover {
  border: 3px solid var(--very-light-gray);
  background: var(--bright--orange);
  color: var(--very-light-gray);
}

.car-box:nth-child(2) {
  background: var(--dark-cyan);
}

.car-box:nth-child(2) .car-box__btn {
  color: var(--dark-cyan);
}

.car-box:nth-child(2) .car-box__btn:hover {
  border: 3px solid var(--very-light-gray);
  background: var(--dark-cyan);
  color: var(--very-light-gray);
}

.car-box:nth-child(3) {
  background: var(--very-dark-cyan);
  border-radius: 0 8px 8px 0;
}

.car-box:nth-child(3) .car-box__btn {
  color: var(--very-dark-cyan);
}

.car-box:nth-child(3) .car-box__btn:hover {
  border: 3px solid var(--very-light-gray);
  background: var(--very-dark-cyan);
  color: var(--very-light-gray);
}

.car-box__img {
  margin-bottom: 10px;
  width: 60px;
}

.car-box__text {
  margin-top: 10px;
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 25px;
}

.car-box__btn {
  width: 150px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 50px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1em;
  margin-top: 70px;
  background: var(--very-light-gray);
}

/* FOOTER */

footer {
  margin-top: 100px;
  margin-bottom: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 1000px) {
  .container {
    height: auto;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .car-box {
    width: 260px;
  }

  .car-box:nth-child(1) {
    border-radius: 8px 8px 0 0;
  }

  .car-box:nth-child(3) {
    background: var(--very-dark-cyan);
    border-radius: 0 0 8px 8px;
  }
}
/* 
## Typography

### Body Copy

- Font size: 15px

### Font

font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700

*/
/* 
## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)
*/
/* 
# Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
*/
